###########
# general #
###########

# options are: "binance", "bybit", "bitmex"
CEX=bybit
COIN=ETHUSDT
PAIRS=ETHUSDT,BTCUSDT

#########
# Bybit #
#########
#### [bybit REST endpoints](https://bybit-exchange.github.io/docs/spot/v1/#t-authentication):
#### - testnet: https://api-testnet.bybit.com 
#### - mainnet: https://api.bybit.com, https://api.bytick.com 
####

BYBIT_API_KEY=
BYBIT_API_SECRET=
